body{
    background-image: url('photos/IMG_E1532.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

nav{
    font-size: 30px;
    position: fixed;
    top: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    background: #1d491b;
    width: 80px;
    transition: width 0.2s linear;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.8);
    text-align: center;
    
    
}

nav:hover{
    width: 7cm;
    transition: 0.3s;
}

nav button{
    background-color: #1d491b;
    border: none;
    color: aliceblue;
    cursor: pointer;
    margin-bottom: 2cm;
    font-size: 20px;
    width: 100%;
}

.nav{
    font-size: 15px;
}

nav button:hover{
    background-color: #0d200c;
}

.logo{
    height: 2cm;
    width: 2cm;
    border-radius: 50%;
    top: 0;
    bottom: 0;
    right: 0;
    cursor: pointer;
}

.text{
    background-color: rgba(250, 235, 215, 0.452);
    margin-top: 0;
    margin-top: -2.5%;
    width: 100%;
}

.head{
    color: rgb(25, 136, 31);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 2.5%;
}
.wel,.intro{
    background-color: transparent;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

iframe{
    border-radius: 20px;
    box-shadow: 0px 0px 10px 10px black;
    margin-top: 1cm;
}

.img,.img1,.img2,.img3,.img4,.img5{
    display: inline-table;
    height: 4cm;
    width: 8cm;
    border-radius: 20px;
    margin: 2cm;
}
.image{
    flex-direction: column;
    justify-content: space-between;
}
.image .box{
    
    flex-direction: column;
    flex: content;
    columns: 5;
    width: 98%;
    align-items: center;
    text-align: center;
}
.image img{
    display: inline-table;
    height: auto;
    width: 100%;
    cursor: pointer;
    margin: 10px;
    border-radius: 20px;
    padding: 15px;
    z-index: 1000;    
}

.log{
    border-radius: 50%;
}

.image a button{
    color: #fff;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #00000096;
    height: 1cm;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    margin-left: 0.6cm;
}

.image a button:hover{
    color: #b4b4b4;
}

.image img:hover{
    transform: scale(1.1);
    z-index: 1000;
    transition: 0.4s;
    box-shadow: 0 0 6px 6px rgba(0, 0, 0, 0.425);
    background-color: rgba(128, 128, 128, 0.534);
}

.grid{
    margin-top: 1cm;
}

.button1,.button2,.button3,.button4,.button5,.button6{
    height: 6cm;
    width: 11cm;
    border-radius: 20px;
    border: none;
    background-color: rgba(0, 0, 0, 0.288);
    cursor: pointer;
    color: rgb(255, 217, 171);
    font-size: 20px;
    font-family: monospace;
}

.img{
    background-image: url('photos/366178244_766384028820529_4002115965798574471_n.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: color-dodge;

}

.img1{
    background-image: url('photos/163281299_461704251915336_9057106096619367748_n.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: color-dodge;

}

.img2{
    background-image: url('photos/354988787_731558825636383_3082506098482240402_n.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: color-dodge;

}


.img3{
    background-image: url('photos/355035242_731558875636378_4951829458780078700_n.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: color-dodge;

}
.img4{
    background-image: url('photos/365653935_764031079055824_952850170869143550_n.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: color-dodge;

}

.img5{
    background-image: url('photos/86802842_178758283543269_5436233165603602432_n.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: color-dodge;

}


.button1:hover{
    background-color: rgba(0, 0, 0, 0.634);
    font-size: 50px;
    transition: 0.3s;
    box-shadow: 0 0 9px 9px black;

}

.button2:hover{
    background-color: rgba(0, 0, 0, 0.634);
    font-size: 50px;
    transition: 0.3s;
    box-shadow: 0 0 9px 9px black;

}

.button3:hover{
    background-color: rgba(0, 0, 0, 0.634);
    font-size: 50px;
    transition: 0.3s;
    box-shadow: 0 0 9px 9px black;

}

.button4:hover{
    background-color: rgba(0, 0, 0, 0.634);
    font-size: 50px;
    transition: 0.3s;
    box-shadow: 0 0 9px 9px black;

}

.button5:hover:hover{
    background-color: rgba(0, 0, 0, 0.634);
    font-size: 50px;
    transition: 0.3s;
    box-shadow: 0 0 9px 9px black;

}

.button6:hover{
    background-color: rgba(0, 0, 0, 0.634);
    font-size: 50px;
    transition: 0.3s;
    box-shadow: 0 0 9px 9px black;

}



.full-img{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
}

.full-img img{
    border-radius: 10px;
    height: fit-content;
    width: 90%;
    max-width: 1200px;
}

.full-img span i{
    font-size: 30px;
    margin-right: 0.3cm;
}

.full-img span{
    border-radius: 20px;
    border-color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 20px;
    color: #ffffff;
    cursor: pointer;
}
.full-img span:hover{
    color: #9b9b9b;
}

form{
    background-color: rgba(0, 0, 0, 0.452);
    border-radius: 20px;
    width: fit-content;
    height: fit-content;
    text-align: center;
    

}
.form1{
    justify-content: center;
    text-align: center;
    display: flex;
}

form input,textarea{
    border: none;
    border-radius: 5px;
    width: 15cm;
    height: 1cm;
    margin-top: 0.5cm;
    margin-bottom: 0.5cm;
    background-color: rgba(0, 0, 0, 0.623);
    color: #fff;
    margin-left: 0.5cm;
    margin-right: 0.5cm;
}

input:focus{
    background-color: #1d491b81;
    border: none;
}

textarea:focus{
    background-color: #1d491b81;
    border: none;
}

::placeholder{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.submit{
    background-color: #238f1d;
    cursor: pointer;
}
.submit:hover{
    background-color: #175f13;
    transition: 0.1s;
    color: #a0a0a0;
}

.head1{
    color: antiquewhite;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
footer{
    background-color: #175f138f;
    margin-left: 1.91cm;
    padding: 10px;
}

.footer-col{
    width: 22%;
    padding: 0 15px;
}
ul{
    list-style: none;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.footer-col h4{
    font-size: 18px;
    color: #00ff00;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background: none;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    color: rgb(0, 0, 0);
    font-size: 16px;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin: 0 20px 20px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}
.links{
    display: -webkit-inline-flex;
    margin-left: -11%;
}
.link{
    margin-left: -15%;
}
.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
}
h5{
    text-align: center;
    color: rgb(207, 212, 207);
    margin-bottom: 0%;
}

@media (max-width: 600px) {
    .logo{
        height: 1cm;
        width: 1cm;
    }
    .text{
        margin-top: 2cm;
    }
    nav{
        width: 100%;
        height: 11%;
        box-shadow: none;
    }
    nav:hover{
        width: 100%;
    }
    nav button{
        text-align: justify;
        font-size: 10px;
        margin-left: 0%;
        display: inline;
        width: 2cm;
        background-color: transparent;

    }
    button i{
        margin-left: -35%;
    }

    button .nav{
        margin-left: 0%;
    }

    button i,p{
        display: inline;
    }
    .head{
        display: none;
    }

    iframe{
        width: 100%;
        height: 4.5cm;
        box-shadow: 0px 0px 9px 9px rgba(0, 0, 0, 0.479);
    }
    .footer-col h4{
        font-size: 8px;
        margin: 0%;
    }
    .footer-col ul li a, .footer-col .social-links a, h5{
        font-size: 10%;
        margin-right: 0%;
    }
    .footer-col .social-links a{
        width: 20px;
        height: 20px;
        margin-right: 0.1cm;
    }
    footer{
        padding: 0%;
        margin-left: 0%;
        height: 100%;
    }
    nav{
        width: 100%;
        height: 2.5cm;
        box-shadow: none;
    }
    nav button{
        width: auto;
        margin-left: 0.5cm;
        display: inline-table;
    }
    .head{
        font-size: 15px;
    }
    .buttons{
        width: 100%;
    }
    .n .head{
        display: none;
    }
    nav:hover{
        nav-up: auto;
    }
    .home1{
        margin-left: 0%;
    }
    .home{
        margin-top: 3cm;
        width: 100%;
        margin-left: 0%;
    }
    #home,#Images,#about,#address{
        margin: 0%;
    }
    .head,.wel,.intro{
        font-size: 10px;
    }
    .nav{
        font-size: 12px;
    }
    .logo{
        height: 1cm;
        width: 1cm;
    }
    .img,.img1,.img2,.img3,.img4,.img5{
        margin: 0%;
        margin-top: 1cm;
        height: 2cm;
        width: 4cm;
        border-radius: 5px;

    }
    .button1,.button2,.button3,.button4,.button5,.button6{
        height: 2.8cm;
        width: 4.4cm;
        margin: 0%;
        font-size: 15px;
        border-radius: 5px;
    }
    .menu{
        margin: 0%;
    }
    .image .box{
    
        flex-direction: column;
        flex: content;
        columns: 2;
        width: 92%;
        align-items: center;
        text-align: center;
    }
    .image a button{
        font-size: 8px;
        height: 0.6cm;
        width: 100%;
        border-radius: 5px;
        margin-left: 0.4cm;
    }
    .image img{
        margin: 0%;
    }
    .zoomin,.zoomout{
        display: none;
    }
    .full-img img{
        max-width: 350px;
    }
    form{
        margin-top: 1cm;
        margin-bottom: 1cm;
    }
    .form1{
        width: 100%;
        font-size: 8px;
    }
    form input,textarea{
        width: 90%;
        height: 0.5cm;
        font-size: 8px;
    }
    .full-img span{
        font-size: 10px;
    }
    .button1:hover{
        background-color: rgba(0, 0, 0, 0.288);
        font-size: 15px;
        box-shadow: none;
    }
    .button2:hover{
        background-color: rgba(0, 0, 0, 0.288);
        font-size: 15px;
        box-shadow: none;
    }

    .button3:hover{
        background-color: rgba(0, 0, 0, 0.288);
        font-size: 15px;
        box-shadow: none;
    }
    .button4:hover{
        background-color: rgba(0, 0, 0, 0.288);
        font-size: 15px;
        box-shadow: none;
    }
    .button5:hover{
        background-color: rgba(0, 0, 0, 0.288);
        font-size: 15px;
        box-shadow: none;
    }
    .button6:hover{
        background-color: rgba(0, 0, 0, 0.288);
        font-size: 15px;
        box-shadow: none;
    }

    


}
